* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Reem Kufi", sans-serif ;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  
  body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: black;
  }
  .home-container {
    position: relative;
    display: flex;
    padding-top: 3rem;
  }
  .home-image{
    position: absolute;
    top: 100px;
    left: 590px;
    max-width: 400px;
  
  }
  .home-text{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .heading{
    color: aliceblue;
      font-size: 60px;
      margin: 20px 0px 20px;
    max-width: 600px;
      font-weight: bold;
  }
  .text{
    color: aliceblue;
      font-size: 19px;
      margin-bottom: 50px;
      max-width: 600px;
  }
  
  .home-button{
  padding: 1rem 2.5rem;
    background-color: black;
   
    border: 2px solid yellow;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-button:hover{
     
      background-color: gray;
      color: aliceblue;
      cursor: pointer;
  }